@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap');



#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0rem, 2rem, 0rem, 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



* {
	box-sizing: border-box;
}

body {
	background: #000000;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center;
	flex-direction: column; */
	font-family: 'Montserrat', sans-serif;
	/* height: 100vh; */
	/* margin: -20px 0 50px; */
	margin: -20;
   
}

.App{
	margin: 200px;
}
/* #####################################################
					LOGIN & REGISTER
##################################################### */

.h1_log_reg {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

.p_log_reg{
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.span_log_reg{
	font-size: 12px;
}

.a_log_reg {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.a_log_reg:hover{
	color: #FF4B2B;
}

.SignBtn {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}


.SignBtn:hover {
	background-color: transparent;
	color: #FF4B2B;
  transition: all 1ms;
  cursor: pointer;
}

.SignBtn:active {
	transform: scale(0.95);
}

.SignBtn:focus {
	outline: none;
}

.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.ghost:hover {
	background-color: #00000010;
  color: #FFFFFF;
  transition: all 1ms;
  cursor: pointer;
}


.margin-top{
  margin-top: 10px;
}

.form_log_reg {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.form_log_reg input {
	background-color: #eee;
	border: none;
	border-radius: 5px;
	padding: 12px 15px;
	margin: 8px 0;	
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 1;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: ease 1s; 
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(0);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.social {
	color: #FF4B2B;
}
.social:visited {
	color: #FF4B2B;
}
.errores {
	background-color: rgb(255, 173, 173);
	border: 1px solid  rgb(255, 76, 76);
	border-radius: 5px;
	padding: 7px;
	margin-top: 5px;
	font-size: 13px;
	width: 280px;
}

/* #####################################################
				END LOGIN & REGISTER
##################################################### */

/* #####################################################
					PAGE 404
##################################################### */

.page_404{ 
	padding:40px 0; 
	background: rgb(0, 0, 0);
    border-radius: 20px;
	color: white;
	border-color: rgb(240, 240, 240);
}

.page_404  img{
	width:100%;
}

.page_404  .container_404{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	background-color: transparent; 
	position: relative;
	max-width: 100%;
	min-height: 480px;
}
.four_zero_four_bg{
	background-image: url(/imagenes/scream.png);
    height: 500px;
	background-repeat: no-repeat;

}
.h1_404{
 	font-size:80px;
	margin:0;
	color: red;
}
 
.h3_404{
	font-size:22px;
	margin-block-start: 1em;
    margin-block-end: 0em;
	color: red;
}

.p_404{
	font-size:19px;
	margin-block-start: 0.10000000000000009em;
}
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: red;
	border: 3px solid rgb(172, 3, 3);
    margin: 10px 0;
	border-radius: 10px;
    display: inline-block;
	text-decoration: none;
	font-size:18px;
	font-weight:bold;
}
.link_404:hover{			 
    background: rgb(172, 3, 3);
	border: 3px solid rgb(133, 2, 2);

}
.contant_box_404{
	margin-top: 5px;
}

/* #####################################################
					END PAGE 404
##################################################### */

/* #####################################################
					HEADER
##################################################### */

.cajamasterheader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
    top: 15px;
    left: 0;
	right: 0;
	width: 100%;
	height: 10%;
	margin-bottom: 10px;
	z-index: 100;
}

.cajamasterheader img{
	width: 60%;
}

/* #####################################################
					END HEADER
##################################################### */

/* #####################################################
					SIDEBAR
##################################################### */

.sidebar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 125px;
	background-color: #ffffff0b;
	color: #fff;
	padding: 20px;
	overflow-y: auto;
	z-index: 100;
}

.sidebar-perfil{
	position: absolute;
	top: 30px;
	cursor: pointer;

}

.sidebar-perfil img{
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

.sidebar-navigation{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar-navigation ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-navigation li {
	margin-bottom: 15px;	
}

.sidebar-navigation li {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	height: 50px;
	margin-bottom: 40px;
}

.sidebar-navigation li:hover, .sidebar-logout:hover {
	color: #e50914;
	cursor: pointer;
}

.sidebar-logout{
	position: absolute;
	bottom: 5px;

}

.sidebar li.active, .sidebar-logout.active{
	border-bottom: 2px solid #f00;
  }

  
/* #####################################################
					END SIDEBAR
##################################################### */

/* #####################################################
						PERFILES
##################################################### */

.home-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 100%;
	flex-wrap: wrap;
}

.home-header{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
    height: 100%;
	margin-top: 2%;
}	

.home-header a{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
    height: 100%;
}	

.home-header-logo{
	width: 10%;
    height: 10%;
	margin-left: 2%;
}

.home-content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 80%;
	flex-direction: column;
}
.home-titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 20%;
	font-size: 170%;
	font-weight: bold;
	margin: 20px 0px 50px 0;
	color: rgb(225, 225, 225);
}

.home-perfil{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
    height: 60%;
	flex-direction: row;
}

.home-perfil a{
	color: rgb(225, 225, 225);
	text-decoration: none;
}

.home-perfil-foto{
	width: 300px;
    height: 260px;
	box-shadow: 0px 0px 5px 3px rgba(106, 106, 106, 0.53);
}
.home-perfil-foto:hover {
	box-shadow: 0px 0px 15px 10px rgba(105, 105, 105, 0.53);
	cursor: pointer;
}
.home-perfil-img{
	width: 100%;
    height: 100%;
}

.home-perfil-users{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 20%;
	flex-direction: column;
}
.home-perfil-name{
	width: 55%;
    height: 100%;
	font-size: 100%;
	font-weight: bold;
	color: rgb(225, 225, 225);
	margin-top: 5px;
}

.home-perfil-config{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.home-perfil-config-button {
	background-color: #ffffff00;
    border: 1px solid ;
	border-color: #ffffff;
	text-decoration: none;
    box-sizing: border-box;
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:  1.2rem;
    font-weight: bold;
    line-height: 1.6rem;
    padding: 0.75rem 4rem;
	margin: 60px 10px 20px;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.home-perfil-config a{
	text-decoration: none;
	color: rgb(225, 225, 225);

}

.home-perfil-config-button:hover {
	box-shadow: 0px 0px 10px 3px rgba(106, 106, 106, 0.53);
}

.edit-perfil{
	background-color: #747474;
	background-image: url(/imagenes/edit.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 50%;
	z-index: 1;
}

.edit-perfil img{
	z-index: -1;
	opacity: 35%;
}

.add-perfil{
	background-color: #ffffff00;
	background-image: url(/imagenes/add.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 50%;
	z-index: 1;
	opacity: 35%;
}

.add-perfil{
	cursor: pointer;
}


/* #####################################################
					END PERFILES
##################################################### */

/* #####################################################
						HOME
##################################################### */


.container {
	position: relative;
	display: flex;
	height: 980px;
	width: 100%;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.content-box {
position: absolute;
top: 0;
left: 0;
width: 33.33%;
height: 100%;
padding: 50px;
padding-left: 8%;
display: flex;
flex-direction: column;
align-items: flex-start;
z-index: 1;
background-color: rgba(0, 0, 0, 0.5);
color: #fff;
}

.content-box h1 {
font-size: 3rem;
margin-bottom: 20px;
}

.content-box p {
font-size: 1.2rem;
margin-bottom: 20px;
}

.buttons {
	display: flex;
	flex-direction: row;
	margin-bottom: 35%;
}

.buttons div {	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 125px;
	height: 50px;
	background-color: white;
	color: black;
	border-radius: 5px;
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
}

.buttons a{	
	text-decoration: none;
	color: black;
}

.buttons div svg{	
    font-size: 1rem;
	margin-right: 5px;
}

.buttons .button-info {	
	background-color: rgba(142, 142, 142, 0.648);
	color: white;
}
.buttons .button-play svg{	
    font-size: 1.275rem;
}

.buttons .button-info:hover {	
	background-color: rgba(118, 118, 118, 0.816);
	cursor: pointer;
}
.buttons .button-play:hover{	
    background-color: rgb(211, 211, 211);
	cursor: pointer;
}

/* Estilos de carrusel de contenido */
.content-carousel {
position: relative;
z-index: 1;
}

.content-carousel p{
margin-bottom: 20px;
font-size: 26px;
font-weight: 600;
color: #FFFFFF;
text-align: left;
}

.carousel-container, .carousel-container2, .carousel-container3 {
display: flex;
overflow-x: auto;
white-space: nowrap;
width: 1820px;
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}

.carousel-container::-webkit-scrollbar, .carousel-container2::-webkit-scrollbar, .carousel-container3::-webkit-scrollbar  {
display: none;
}

.carousel-arrow, .carousel-arrow2, .carousel-arrow3  {
background-color: #a0a0a0;
border-radius: 50px;
position: absolute;
top: 50%;
transform: translateY(-30%);
cursor: pointer;
outline: none;
display: flex;
align-items: center;
justify-content: center;
}

.carousel-arrow svg, .carousel-arrow2 svg, .carousel-arrow3 svg {
z-index: 100;
font-size: 4.5rem;

}

.left {
left: -1.5%;
}

.right {
right: -1.7%;
}  
  
  
.content-card {
margin-right: 20px;
width: 250px;
flex: 0 0 auto;
}

.content-card img {
width: 100%;
height: 300px;
object-fit: cover;
border-radius: 3px;
} 

.content-card h3 {
margin-top: 10px;
font-size: 16px;
font-weight: 500;
text-align: center;
}


/* #####################################################
					END HOME
##################################################### */

/* #####################################################
						PLAY
##################################################### */

.video-player{
	height: 1000px;
}
.video-player video{
	width: 100%;
	height: 100%;
}

.exit{
	position: fixed;
	top: 3%;
	left: 2%;
	z-index: 10;
	text-decoration: none;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

.exit svg{
	color: rgb(168, 168, 168);
	text-decoration: none;
	font-size: 4rem;

}

.exit:hover{
	background-color: rgb(143, 143, 143);
	border-radius: 50px;
	cursor: pointer;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.exit:hover svg{
	color: rgb(41, 41, 41);
	text-decoration: none;
	font-size: 4rem;

}

/* #####################################################
						END PLAY
##################################################### */

/* #####################################################
						  INFO
##################################################### */


.container-info{
	display: flex;
	height: 100%;
	width: 100%;
	background-color: rgb(49, 49, 49);
}

.portada-info {
	width: 40%;
	height: 98.45vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.portada-info img{
	width: 100%;
	height: 100%;
}

.content-box-info {
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: #fff;
	padding: 5%;

}

.content-box-info .title {
	font-size: 4rem;
	font-weight: bold;
}

.content-box-info .details{
	width: 30%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 50px;

}

.content-box-info .tabs {
	width: 100%;
	height: auto;
	display: flex;
	align-items: flex-start;
	border-bottom: 3px solid rgb(96, 96, 96);
	margin-bottom: 20px;
}

.content-box-info .general {	
	height: 106.5%;
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 20px;
	text-align: left;
	border-bottom: 6px solid #e50914;
}

.content-box-info .description {
	font-size: 1.2rem;
	margin-bottom: 20px;
	text-align: left;
}

.content-box-info .specific-info-box {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 20px;

}

.content-box-info .specific-info-box .specific-title{
	font-size: 1.2rem;
	color: rgb(100, 100, 100);
}

.content-box-info .specific-info-box .specific-name{
	font-size: 1.2rem;
	margin-left: 50px
}

/* 
.buttons {
	display: flex;
	flex-direction: row;
	margin-bottom: 35%;
}

.buttons div {	
	display: flex;
	justify-content: center;
	width: 125px;
	height: 50px;
	background-color: white;
	color: black;
	border-radius: 5px;
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: none;
}

.buttons a{	
	text-decoration: none;
	color: black;
}

.buttons div svg{	
    font-size: 1rem;
	margin-right: 5px;
}

.buttons .button-info {	
	background-color: rgba(142, 142, 142, 0.648);
	color: white;
}
.buttons .button-play svg{	
    font-size: 1.275rem;
}

.buttons .button-info:hover {	
	background-color: rgba(118, 118, 118, 0.816);
	cursor: pointer;
}
.buttons .button-play:hover{	
    background-color: rgb(211, 211, 211);
	cursor: pointer;
} */



/* #####################################################
						END INFO
##################################################### */
