@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap');



#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0rem, 2rem, 0rem, 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



* {
	box-sizing: border-box;
}

body {
	background: #000000;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center;
	flex-direction: column; */
	font-family: 'Montserrat', sans-serif;
	/* height: 100vh; */
	/* margin: -20px 0 50px; */
	margin: -20;
   
}

.App{
	margin: 200px;
}

/* #####################################################
					LOGIN & REGISTER
##################################################### */

.login_section {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(250, 73, 73, 0.11);
}

.login_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 30%;
	height: 60%;
	border-radius: 25px;
	overflow: visible;
	background: linear-gradient(to top, rgba(0, 0, 0, 1) 60%, rgba(255, 255, 255, 0));
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.53);

}

.login_box .login_personaje{
	position: absolute;
	top: -30%;
	left: 0;
	width: 100%;
	border-radius: 25px;

}

.login_box .login_fondo{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(/imagenes/Login_box.jpg);
	background-size: 150%;
	background-repeat: no-repeat;
	background-position: 50%;
	z-index: -1;
	border-radius: 25px;

}

.login_degradado{
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
	height: 200px;
	background: linear-gradient(to top, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0));
	z-index: 1;
}

.login_content {
	display: flex;
	justify-content: space-around;
	align-items: flex;
	flex-direction: column;
	bottom: 0;
	width: 100%;
	height: 70%;
	padding: 5% 15% 10% 15%;
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	z-index: 1;
}

.login_content h1{
	display: flex;
	justify-content: left;
	align-items: center;
	color: white;
}

.login_content .login-input{
	margin: 5px 0 5px 0;
	justify-content: space-around;
}

.login_content .login-input > input{
	display: flex;
    justify-content: center;
	width: 100%;
	font-size: 100%;
	font-weight: bold;
	color: rgba(225, 225, 225, 0.61);
	background-color: #5d5c5c00;
	padding: 10px 20px 10px 20px;
	border: 3px solid #5d5c5c;
}


.register_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 35%;
	border-radius: 25px;
	overflow: visible;
	background-color: #090909;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.53);
}

.register_box .register_logo{
	width: 100%;
	height: 200px;
	margin: 40px 0 0 0;
}

.register_content {
	padding: 0 15% 5%;
	height: auto;
}

.errores {
	background-color: rgb(255, 173, 173);
	border: 1px solid  rgb(255, 76, 76);
	border-radius: 5px;
	padding: 7px;
	margin-top: 5px;
	font-size: 13px;
	width: 280px;
}

.login_content .login-input .paddingTop20{
	padding-top: 20px;
}

@media only screen and (min-width: 1640px) {
	.login_degradado{
		height: 240px;
	}
}

@media only screen and (min-width: 1780px) {
	.login_degradado{
		height: 280px;
	}
	
}

@media only screen and (min-width: 1870px) {
	.login_degradado{
		height: 350px;
	}
	.login_content {
		height: 80%;

	}
	.register_box {
		width: 45%;
	}
	
}

@media only screen and (min-width: 2050px) {
	.login_degradado{
		height: 400px;
	}
	.login_content {
		height: 80%;
	}
	.register_box {
		width: 45%;
	}
}

/* #####################################################
				END LOGIN & REGISTER
##################################################### */

/* #####################################################
					PAGE 404
##################################################### */

.page_404{ 
	padding:40px 0; 
	background: rgb(32, 32, 32);
    border-radius: 20px;
	color: white;
	border-color: rgb(240, 240, 240);
}

.page_404  img{
	width:100%;
}

.page_404  .container_404{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	background-color: transparent; 
	position: relative;
	max-width: 100%;
	min-height: 480px;
}
.four_zero_four_bg{
	background-image: url(/imagenes/scream.png);
    height: 500px;
	background-repeat: no-repeat;

}
.h1_404{
 	font-size:80px;
	margin:0;
	color: red;
}
 
.h3_404{
	font-size:22px;
	margin-block-start: 1em;
    margin-block-end: 0em;
	color: red;
}

.p_404{
	font-size:19px;
	margin-block-start: 0.10000000000000009em;
}
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: red;
	border: 3px solid rgb(172, 3, 3);
    margin: 10px 0;
	border-radius: 10px;
    display: inline-block;
	text-decoration: none;
	font-size:18px;
	font-weight:bold;
}
.link_404:hover{			 
    background: rgb(172, 3, 3);
	border: 3px solid rgb(133, 2, 2);

}
.contant_box_404{
	margin-top: 5px;
}

/* #####################################################
					END PAGE 404
##################################################### */

/* #####################################################
					HEADER
##################################################### */

.cajamasterheader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
    top: 15px;
    left: 0;
	right: 0;
	width: 100%;
	height: 10%;
	margin-bottom: 10px;
	z-index: 100;
}

.cajamasterheader img{
	width: 60%;
}

/* #####################################################
					END HEADER
##################################################### */


/* #####################################################
					SIDEBAR
##################################################### */

.sidebar {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 125px;
	/* background-color: #ffffff0b; */
	color: #fff;
	padding: 20px;
	overflow-y: auto;
	z-index: 100;
}

.sidebar-perfil{
	position: absolute;
	top: 30px;
	cursor: pointer;

}

.sidebar-perfil img{
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

.sidebar-navigation{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar-navigation ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar-navigation li{
	height: 80px;
}

.sidebar-navigation #icon1, .sidebar-navigation #icon5, .sidebar-navigation li, .sidebar-navigation li a{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	padding: 0;
	margin: 0;
}

.sidebar-navigation li:hover svg{
	color: #e50914;
	cursor: pointer;
}

.sidebar-logout{
	position: absolute;
	bottom: 5px;

}

.sidebar li.active, .sidebar-logout.active{
	border-bottom: 2px solid #f00;
  }

  
/* #####################################################
					END SIDEBAR
##################################################### */

/* #####################################################
						PERFILES
##################################################### */

.perfiles-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 100%;
	flex-wrap: wrap;
}

.perfiles-header{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
    height: 100%;
	margin-top: 2%;
}	

.perfiles-header a{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
    height: 100%;
}	

.perfiles-header-logo{
	width: 10%;
    height: 10%;
	margin-left: 8%;
}

.perfiles-content{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 80%;
	flex-direction: column;
}
.perfiles-titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 20%;
	font-size: 170%;
	font-weight: bold;
	margin: 20px 0px 50px 0;
	color: rgb(225, 225, 225);
}

.perfiles-perfil{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
    height: 60%;
	flex-direction: row;
}

.perfiles-perfil-users{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
    height: 20%;
	flex-direction: column;
}

.perfiles-perfil a{
	color: rgb(225, 225, 225);
	text-decoration: none;
}

.perfiles-perfil-foto{
	width: 300px;
    height: 260px;
	box-shadow: 0px 0px 5px 3px rgba(106, 106, 106, 0.53);
}

.perfiles-perfil-foto:hover {
	box-shadow: 0px 0px 15px 10px rgba(105, 105, 105, 0.53);
	cursor: pointer;
}

.perfiles-perfil-foto  button {
	width: 100%;
    height: 100%;
	padding: 0;
	border: 0;
	cursor: pointer;
}

.perfiles-perfil-loading{
	width: 1020px;
    height: 40vh;
}

.perfiles-perfil-img{
	width: 100%;
    height: 100%;
}

.perfiles-perfil-name{
	width: 55%;
    height: 100%;
	font-size: 100%;
	font-weight: bold;
	color: rgb(225, 225, 225);
	margin-top: 5px;
}

.perfiles-perfil-config{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.perfiles-perfil-config a{
	text-decoration: none;
	color: rgb(225, 225, 225);
	margin: 60px 10px 20px;
}

.perfiles-perfil-config-button {
	background-color: #ffffff00;
    border: 1px solid ;
	border-color: #ffffff;
	text-decoration: none;
    box-sizing: border-box;
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:  1.2rem;
    font-weight: bold;
    line-height: 1.6rem;
    padding: 0.75rem 4rem;

    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.perfiles-perfil-config-button:hover {
	box-shadow: 0px 0px 10px 3px rgba(106, 106, 106, 0.53);
}

.edit-perfil{
	background-color: #747474;
	background-image: url(/imagenes/edit.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 50%;
	z-index: 1;
}

.edit-perfil img{
	z-index: -1;
	opacity: 35%;
}

.add-perfil{
	background-color: #ffffff00;
	background-image: url(/imagenes/add.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 50%;
	z-index: 1;
	opacity: 35%;
	cursor: pointer;
}
.espera{
	position: fixed;
	top: 10;
	left: 50;
	z-index: 1;
}

@media only screen and (max-width: 1200px) {
	.perfiles-perfil {
		width: 100%;
	}
	
	.perfiles-titulo {
		font-size: 100%;
		margin: 20px 0px 20px 0;
	}

	.perfiles-perfil-foto {
		width: 120px;
		height: 120px;
	}

	.perfiles-perfil-name {
		font-size: 70%;
	}

	.perfiles-perfil-config-button {
		font-size: 1rem;
		line-height: 1rem;
		padding: 0.55rem 2rem;
	}

}

@media only screen and (max-width: 800px) {

	.perfiles-perfil {
		width: 80%;
		flex-wrap: wrap;
	}

	.perfiles-perfil-users {
		width: 50%;
	}

	.perfiles-titulo {
		font-size: 60%;
	}

	.perfiles-perfil-foto {
		width: 100px;
		height: 100px;
	}

	.perfiles-perfil-name {
		font-size: 50%;
	}

	.perfiles-perfil-config-button {
		font-size: 0.8rem;
		line-height: 0.8rem;
		padding: 0.55rem 2rem;
	}

	.perfiles-perfil-config {
		display: block;
	}
	
}

@media only screen and (max-width: 550px) {

	.perfiles-titulo {
		font-size: 60%;
	}

	.perfiles-perfil-foto {
		width: 100px;
		height: 100px;
	}

	.perfiles-perfil-name {
		font-size: 70%;
	}

	.perfiles-perfil-config-button {
		font-size: 0.8rem;
		line-height: 0.8rem;
		padding: 0.55rem 2rem;
	}
	
}

/* #####################################################
					END PERFILES
##################################################### */

/* #####################################################
					PERFILES ADD
##################################################### */

.perfilesAdd-titulo{
	display: flex;
	justify-content:center;
	flex-direction: column;
	align-items: flex-start;
	font-size: 170%;
	font-weight: bold;
	margin: 10px 0px 30px 0;
	color: rgb(225, 225, 225);
	padding-bottom: 10px;
	border-bottom: 4px solid rgb(77, 77, 77);
	width: 50%;
	height: 30%;
}

.perfilesAdd-titulo h1, .perfilesAdd-titulo p{
	margin: 0;
	padding: 5px;
	padding-left: 0;
	margin-bottom: 10px;
}

.perfilesAdd-titulo p{
	font-size: 80%;
	font-weight: 100;
	color: rgb(77, 77, 77);
}

.perfilesAdd-perfil-users{
	width: 50%;
    height: 40%;
	flex-direction: row;
	padding-bottom: 30px;	
	border-bottom: 4px solid rgb(77, 77, 77);
}

.perfilesAdd-perfil-users form{
	display: flex;
	justify-content: space-between;
	align-items:center;
	width: 100%;
    height: 100%;
}

.perfilesAdd-perfil-foto{
	width: 23%;
	height: 260px;
}

.perfilesAdd-perfil-foto:hover {
	box-shadow: 0px 0px 15px 10px rgba(105, 105, 105, 0.53);
	cursor: pointer;
}

.perfilesAdd-perfil-inputs-box{
	display: flex;
	flex-direction: column;
	width: 70%;
}

.perfilesAdd-perfil-input{
	margin: 10px 200px 10px 0;
	justify-content: space-around;

}

.perfilesAdd-perfil-input input{
	width: 100%;
	font-size: 100%;
	font-weight: bold;
	color: rgba(225, 225, 225, 0.61);
	background-color: #5d5c5c00;
	padding: 10px 20px 10px 20px;
	border: 3px solid #5d5c5c;
}

.perfilesAdd-perfil-input input:invalid, .perfilesAdd-perfil-input input:invalid:focus {
	border: 1px solid red;
}

.perfilesAdd-perfil-config{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	width: 50%;
	height: 20%;
	margin: 30px;
	margin-bottom: 0;
}

.perfilesAdd-perfil-config a{
	text-decoration: none;
	color: rgb(225, 225, 225);
	margin-right: 30px;
}

.perfilesAdd-perfil-config-button {
	background-color: #ffffff00;
    border: 1px solid ;
	border-color: rgb(77, 77, 77);
	color: rgb(77, 77, 77);
	text-decoration: none;
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:  1.2rem;
    font-weight: bold;
    line-height: 1.6rem;
    padding: 0.75rem 5rem;
    cursor: pointer;

}

.perfilesAdd-perfil-config-button:hover {
	box-shadow: 0px 0px 10px 3px rgba(106, 106, 106, 0.53);
}

.confirm-button  {
	background-color: #ff0000;
	border-color: #ff0000;
	color: rgb(255, 255, 255);
	margin-right: 30px;

}

.confirm-button:hover {
	box-shadow: 0px 0px 10px 3px rgba(255, 0, 0, 0.53);
}


@media only screen and (max-width: 1760px) {

	.perfilesAdd-perfil-config-button{
		padding: 0.75rem 3rem;
	}
	.perfilesAdd-perfil-foto {
		height: auto;
	}
	.perfilesAdd-perfil-input{
		margin-right: 	10px;
	}
	
}

@media only screen and (max-width: 1200px) {
	.perfilesAdd-perfil-config-button{
		padding: 0.75rem 1rem;
	}
	
}

@media only screen and (max-width: 1000px) {

	.perfilesAdd-perfil-foto {
		width: 170px;
		height: 150px;
		margin-bottom: 20px;
	}
	.perfilesAdd-perfil-inputs-box {
		width: 90%;
	}
	.perfilesAdd-perfil-config {
		justify-content: space-around;
	}
	.perfilesAdd-perfil-config a, .perfilesAdd-perfil-config button{
		margin: 0;
	}

	.perfilesAdd-perfil-config .button_perfilAdd {
		font-size: 1rem;
		line-height: 1rem;
		padding: 0.55rem 2.5rem;
	}

	.perfilesAdd-titulo{
		font-size: 100%;
	}

	.perfilesAdd-perfil-input input {
		width: 70%;
		font-size: 70%;
		font-weight: 100;
		padding: 10px 10px 10px 20px;

	}
}

@media only screen and (max-width: 800px) {
	.perfiles-header-logo {
		width: 15%;
	}
	 .perfilesAdd-titulo{
		width: 70%;
		font-size: 70%;
	}

	.perfilesAdd-titulo p {
		font-size: 100%;
	}
	
	.perfilesAdd-perfil-users{
		width: 70%;
	}
	
	.perfilesAdd-perfil-config .button_perfilAdd {
		font-size: 1rem;
		line-height: 1rem;
		padding: 0.55rem 2.5rem;
	}

	.perfilesAdd-perfil-config-button{
		font-size: 0.8rem;
		line-height: 0.8rem;
		padding: 0.5rem 1.5rem;
	}

	.perfiles-content .buttons_perfilesEdit{
		width: 70%;
	}

}

@media only screen and (max-width: 500px) {
	.perfiles-header-logo {
		width: 15%;
	}
	 .perfilesAdd-titulo{
		width: 70%;
		font-size: 70%;
	}

	.perfilesAdd-titulo p {
		font-size: 85%;
		text-align: left;
	}
	
	.perfilesAdd-perfil-users{
		width: 70%;
	}

	.perfilesAdd-perfil-users form{
		flex-direction: column;
	}
	.perfilesAdd-perfil-input input {
		width: 100%;
	}
	.perfilesAdd-perfil-config .button_perfilAdd{
		padding: 0.50rem 1rem;
		margin: 0 10px 0 10px;
	}

	.perfilesAdd-perfil-config .button_perfilEdit{
		padding: 0.75rem 0.75rem;
		margin: 0 5px 0 5px;
		font-size: 0.6rem;
		line-height: 0.6rem;
	}

}

@media only screen and (max-width: 400px) {

	.perfilesAdd-perfil-config .button_perfilEdit{
		padding: 0.75rem 0.55rem;
		font-size: 0.55rem;
		line-height: 0.5rem;
	}
}

@media only screen and (max-width: 350px) {

	.perfilesAdd-perfil-config .button_perfilEdit{
		padding: 0.75rem 0.55rem;
		margin: 0 2.5px 0 2.5px;
		font-size: 0.5rem;
		line-height: 0.5rem;
	}
}



/* #####################################################
					END PERFILES ADD
##################################################### */

/* #####################################################
					CONTENIDOS ADD
##################################################### */


.perfilesAdd-perfil-inputs-box fieldset{
	display: flex;
	align-items: center;
	flex-direction: row;
	color:rgba(225, 225, 225, 0.61);
	font-size: 100%;
	font-weight: bold;
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	padding: 0;
	border: 3px solid #5d5c5c;
}

.perfilesAdd-perfil-inputs-box > fieldset div:first-of-type {
	display: flex;
	align-items: flex-start;
	margin-bottom: 5px;
}

.perfilesAdd-perfil-inputs-box > fieldset label {
	margin-right: 15px;
	line-height: 32px;
}

.perfilesAdd-perfil-inputs-box > fieldset input {
	appearance: none;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	border: 2px solid #999;
	transition: 0.2s all linear;
	margin-right: 5px;
	position: relative;
	top: 5px;
}

.perfilesAdd-perfil-inputs-box > fieldset div input:checked {
	border: 5px solid rgb(230, 9, 9);
}

.contentAdd-perfil-input{
	margin: 10px 0px 10px 0;
	justify-content: space-around;
}

.perfilesAdd-perfil-inputs-box .contentAdd-perfil-time-box .contentAdd-perfil-input-fieldset{
	padding: 6px 20px 10px;
    width: 45%;
    display: block;
	margin: 10px 0px 10px 0;
	justify-content: space-around;
}

.contentAdd-perfil-input > input{
	display: flex;
    justify-content: center;
	width: 100%;
	font-size: 100%;
	font-weight: bold;
	color: rgba(225, 225, 225, 0.61);
	background-color: #5d5c5c00;
	padding: 10px 20px 10px 20px;
	border: 3px solid #5d5c5c;
}

.contentAdd-perfil-input textarea{
	width: 100%;
	height: 125px;
	font-size: 100%;
	font-weight: bold;
	color: rgba(225, 225, 225, 0.61);
	background-color: #5d5c5c00;
	padding: 10px 20px 10px 20px;
	border: 3px solid #5d5c5c;
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	resize: none;
}

.contentAdd-perfil-time-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator{
	background-image: url('imagenes/calendar.png');
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: url('imagenes/clock.png');
}

@media (max-width: 700px) {
	.contentAdd-perfil-time-box {
		flex-direction: column;
	}
	.perfilesAdd-perfil-inputs-box .contentAdd-perfil-time-box .contentAdd-perfil-input-fieldset{
		width: auto;
	}
}

@media (max-width: 450px) {
	.contentAdd-perfil-input > input {
		border: 1px solid #5d5c5c;
		font-size: 60%;
	}
	.contentAdd-perfil-input textarea {
		width: 100%;
		height: 70px;
		font-size: 60%;
		padding: 10px 20px 10px 20px;
		border: 1px solid #5d5c5c;
	}
	.perfilesAdd-perfil-users .contenidosAdd_box{
		display: block;
	}
	.perfilesAdd-perfil-foto {
		width: 110px;
		height: 100px;
		margin-bottom: 0px;
	}
	.perfilesAdd-perfil-inputs-box .contentAdd-perfil-time-box .contentAdd-perfil-input-fieldset {
		width: 100%;
	}
	.perfilesAdd-perfil-inputs-box .contentAdd-perfil-time-box .contentAdd-perfil-input-fieldset {
		padding: 0px 15px 2px;
		margin: -5px 0px 10px 0;
	}

	.perfiles-container .perfiles-content .contenidosAdd_buttons{
		margin: 10px;
	}

	.perfilesAdd-perfil-config .contenidosAdd_button{
		padding: 0.75rem 1rem;
		font-size: 0.8rem;
	}
	.perfilesAdd-perfil-users {
		padding-bottom: 5px;
		border-bottom: 2px solid rgb(77, 77, 77);
	}
	.perfilesAdd-titulo {
		border-bottom: 2px solid rgb(77, 77, 77);
		padding-bottom: 0px;
		margin: 10px 0px 10px 0;
	}
	.perfilesAdd-titulo h1, .perfilesAdd-titulo p {
		padding: 0;
	}
	
	
}


/* #####################################################
					END CONTENIDOS ADD
##################################################### */

/* #####################################################
						HOME
##################################################### */


.container {
	position: relative;
	display: flex;
	height: 980px;
	width: 100%;
}

.video-container {
	position: absolute;
	top: 0;
	right: 0;
	width: 95%;
	height: 100%;
	overflow: hidden;
}

.video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.home_video_container {
	position: absolute;
	top: 0;
	right: 0;
	width: 95%;
	height: 100%;
	overflow: hidden;
}

.home_video_container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.video_home_fade {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.top_fade {
	background: linear-gradient(180deg, rgba(0,0,0,1) 5%, rgba(255,255,255,0) 30%);
}

.left_fade {
	background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
	left: 0;
}

.right_fade {
	background: linear-gradient(270deg, rgba(0,0,0,1) 5%, rgba(255,255,255,0) 50%);
	right: 0;
}

.content-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 33.33%;
	height: 100%;
	padding: 50px;
	padding-left: 8%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 10;
	background: linear-gradient(90deg, rgba(0,0,0,1) 25%, rgba(255,255,255,0) 100%);
	color: #fff;
}

.content-box h1 {
	font-size: 3rem;
	margin-bottom: 20px;
}

.content-box p {
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.buttons {
	display: flex;
	flex-direction: row;
	margin-bottom: 35%;
}

.buttons div {	
	display: flex;
	justify-content: center;
	align-items: center;
	width: 125px;
	height: 50px;
	background-color: white;
	color: black;
	border-radius: 5px;
	
	text-decoration: none;
}

.buttons a{	
	text-decoration: none;
	color: black;
	margin-right: 10px;
	margin-left: 10px;
}

.buttons div svg{	
    font-size: 1rem;
	margin-right: 5px;
}

.buttons .button-info {	
	background-color: rgba(142, 142, 142, 0.648);
	color: white;
}
.buttons .button-play svg{	
    font-size: 1.275rem;
}

.buttons .button-info:hover {	
	background-color: rgba(118, 118, 118, 0.816);
	cursor: pointer;
}
.buttons .button-play:hover{	
    background-color: rgb(211, 211, 211);
	cursor: pointer;
}

/* Estilos de carrusel de contenido */
.content-carousel {
position: relative;
z-index: 1;
}

.content-carousel p{
margin-bottom: 20px;
font-size: 26px;
font-weight: 600;
color: #FFFFFF;
text-align: left;
}

.carousel-container, .carousel-container2, .carousel-container3 {
display: flex;
overflow-x: auto;
white-space: nowrap;
width: 1820px;
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}

.carousel-container::-webkit-scrollbar, .carousel-container2::-webkit-scrollbar, .carousel-container3::-webkit-scrollbar  {
display: none;
}

.carousel-arrow, .carousel-arrow2, .carousel-arrow3  {
background-color: #a0a0a0;
border-radius: 50px;
position: absolute;
top: 50%;
transform: translateY(-30%);
cursor: pointer;
outline: none;
display: flex;
align-items: center;
justify-content: center;
z-index: 1;
}

.carousel-arrow:hover, .carousel-arrow2:hover, .carousel-arrow3:hover  {
	background-color: #5d5c5c;
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.53);
}

.carousel-arrow svg, .carousel-arrow2 svg, .carousel-arrow3 svg {
z-index: 100;
font-size: 4.5rem;

}

.left {
left: -1.5%;
}

.right {
right: -1.7%;
}  
  
  
.content-card {
margin-right: 20px;
width: 250px;
flex: 0 0 auto;
}

.content-card img {
width: 100%;
height: 300px;
object-fit: cover;
border-radius: 3px;
} 

.content-card h3 {
margin-top: 10px;
font-size: 16px;
font-weight: 500;
text-align: center;
}

.loadingPeliculas {
	width: 100%;
	height: 100%;
}

.loadingPeliculas video{
	width: 100%;
	height: 100%;
}

/* MAX WIDTH */

@media (max-width: 1400px) {
	.home_video_container{
		width: 100%;
	}
	.content-box {
		width: 50%;
		padding-top: 10%;
		padding-left: 10%;
	}
  }

@media (max-width: 1200px) {
	.home_video_container{
		top: -5%;
	}
  }


@media (max-width: 1000px) {
	.cajamasterheader img {
		width: 50%;
	}
	.home_video_container{
		top: -10%;
		right: 10;
		width: 105%;
		height: 80%;
	}
	.content-box {
		width: 70%;
		padding-left: 15%;
	}
	.content-box h1 {
		font-size: 2rem;
	}
	.content-box p {
		font-size: 1rem;
	}
	.carousel-arrow svg, .carousel-arrow2 svg, .carousel-arrow3 svg {
		z-index: 100;
		font-size: 2.5rem;
	}
	.content-card img {
		height: 200px;
	}
	.content-card {
		width: 160px;
	}

}

@media (max-width: 800px) {
	.container .home_video_container{
		top: -10%;
		width: 105%;
	}
	.container .content-box {
		padding-left: 20%;
	}
}

  @media (max-width: 500px) {
	.cajamasterheader {
	top: -15px;
	}
	.cajamasterheader img {
		width: 30%;
	}
	.container .content-box {
		width: 70%;
		padding-left: 20%;
	}
	.buttons div {
		width: 85px;
		height: 40px;
		font-size: 0.7rem;
	}
	.buttons .button-play svg, .buttons .button-info svg  {
		font-size: 0.9rem;
	}
	.content-box h1 {
		font-size: 1.2rem;
	}
	.content-box p {
		font-size: 0.7rem;
	}
	.sidebar-perfil img {
		width: 35px;
		height: 35px;
	}
	.sidebar-navigation #icon1, .sidebar-navigation #icon5, .sidebar-navigation li, .sidebar-navigation li a {
		font-size: 20px;
	}
	.content-card img {
		height: 150px;
		width: 125px;
	}
	.sidebar {
		width: 95px;
	}
}

@media (max-width: 400px) {
	.cajamasterheader {
	top: -15px;
	}
	.cajamasterheader img {
		width: 30%;
	}
	.container .content-box {
		width: 90%;
		padding-left:16%;
	}
	.buttons a {
		margin: 10px 0 0 10px;
	}
	.sidebar {
		width: auto;
	}
	.content-card {
		width: 125px;
	}
	
}

@media (max-width: 300px) {
	.cajamasterheader {
	top: -15px;
	}
	.cajamasterheader img {
		width: 30%;
	}
	.container .content-box {
		width: 90%;
		padding-left:18%;
	}
	.content-card {
		width: 125px;
	}
	.buttons {
		flex-direction: column;
	}
}

/* MIN WIDTH */

@media (min-width: 200px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 195px;
	}
  }
@media (min-width: 300px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 230px;
	}
  }

@media (min-width: 350px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 275px;
	}
  }

  @media (min-width: 400px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 290px;
	}
  }

  @media (min-width: 500px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 350px;
	}

  }

  @media (min-width: 600px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 450px;
	}
  }

  @media (min-width: 700px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 550px;
	}
  }

  @media (min-width: 800px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 650px;
	}
  }

  @media (min-width: 900px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 750px;
	}
  }

  @media (min-width: 1000px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 850px;
	}
  }

  @media (min-width: 1100px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 950px;
	}
  }

  @media (min-width: 1200px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1050px;
	}
  }
  
  @media (min-width: 1300px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1150px;
	} 
  }

  @media (min-width: 1400px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1250px;
	}

  }

  @media (min-width: 1500px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1350px;
	}
  }
  
  @media (min-width: 1600px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1450px;
	}
  }

  @media (min-width: 1700px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1550px;
	}
  }

  @media (min-width: 1800px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1650px;
	}
  }

  @media (min-width: 1900px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1750px;
	}
  }
  
  @media (min-width: 2000px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1820px;
	}
  }

  @media (min-width: 2100px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 1950px;
	}
  }

  @media (min-width: 2200px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 2025px;
	}
  }

  @media (min-width: 2300px) {
	.carousel-container, .carousel-container2, .carousel-container3 {
		width: 2100px;
	}
  }

/* #####################################################
					END HOME
##################################################### */

/* #####################################################
						PLAY
##################################################### */

.video-player{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
	height: 935px;
}
.video-player iframe{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.video_play_fade {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    z-index: 9;
	background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(255,255,255,0) 100%);
}

.exit{
	position: fixed;
	top: 3%;
	left: 2%;
	z-index: 10;
	text-decoration: none;
}

.exit svg{
	color: rgb(168, 168, 168);
	text-decoration: none;
	font-size: 4rem;

}

.exit:hover{
	background-color: rgb(143, 143, 143);
	border-radius: 50px;
	cursor: pointer;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.exit:hover svg{
	color: rgb(41, 41, 41);
	text-decoration: none;
	font-size: 4rem;

}

@media only screen and (max-width: 2000px) {
	.content-box-info {
		width: auto;
	}
	.portada-info {
		height: auto;
	}
}

/* #####################################################
						END PLAY
##################################################### */

/* #####################################################
						  INFO
##################################################### */


.container-info{
	display: flex;
	height: 935px;
	width: 100%;
	background-color: rgb(32, 32, 32);
}

.portada-info {
	width: 40%;
	height: 78.3vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5%;
	background-color: #747474;
	background-image: url(/imagenes/playBlanco.png);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: 50%;
	z-index: 1;
	cursor: pointer;
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.53);

}

.portada-info a, .portada-info img{
	width: 100%;
	height: 100%;
}

.portada-info:hover img{
	z-index: -1;
	opacity: 45%;
}

.content-box-info {
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: #fff;
	padding: 5%;
	z-index: 1;

}

.content-box-info .title-content {
	font-size: 4rem;
	font-weight: bold;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.704);

}

.content-box-info .details{
	width: 30%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	margin-top: 10px;
	margin-bottom: 50px;

}

.content-box-info .tabs {
	width: 100%;
	height: auto;
	display: flex;
	align-items: flex-start;
	border-bottom: 3px solid rgb(96, 96, 96);
	margin-bottom: 20px;
	
}

.content-box-info .tablink {	
	height: 106.5%;
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 20px;
	margin-right: 20%;
	text-align: left;
	cursor: pointer;
	color:  rgb(96, 96, 96);
	transition: 0.3s;
}

.content-box-info .tablink.active {	
	border-bottom: 6px solid #e50914;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.704);
}	

.content-box-info .tabcontent {
	display: none;
	font-size: 1.2rem;
	margin-bottom: 20px;
	text-align: left;
}

#description { display: block; }

.content-box-info .opciones{
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	font-size: 4rem;
	margin-bottom:15px;
	text-align: left;
}

.content-box-info .opciones svg{
	border: 3px solid #d0cfcf;
	color:#d0cfcf;
	border-radius: 50px;
	padding: 10px;
	cursor: pointer;
}

.content-box-info .opciones svg:hover{	
    color: rgb(211, 211, 211);
	border: 3px solid #ffffff
}

.content-box-info .specific-info-box {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 20px;

}

.content-box-info .specific-info-box .specific-title{
	font-size: 1.2rem;
	color: rgb(160, 160, 160);
}

.content-box-info .specific-info-box .specific-name{
	font-size: 1.2rem;
	margin-left: 50px
}

.content-box-info .related_films{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}


.content-box-info .related_films .title{
	font-size: 1.5rem;
	font-weight: bold;
	margin: 30px 0 30px 0;
}

.content-box-info .related_films .films{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 1000px;
	height: 100%;
	margin-bottom: 20px;
	overflow-x: auto;
	white-space: nowrap;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.53);

}

.related_films .films::-webkit-scrollbar{
	display: none;
}

.left-info {
left: -3%;
}

.right-info {
right: -3.8%;
} 

.content-box-info .related_films .films .film {
	margin-right: 20px;
	width: 270px;
	height: 310px;
	flex: 0 0 auto;
	box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.53);

}

.content-box-info .related_films .films .film:hover {
	cursor: pointer;
	opacity: 0.7;
}

.content-box-info .related_films .films .film img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
} 

@media only screen and (max-width: 2000px) {
	.content-box-info {
		width: auto;
	}
	.portada-info {
		height: auto;
	}
}

@media only screen and (max-width: 1700px) {
	.content-box-info {
		padding: 5% 5% 0 0;
	}
	.portada-info {
		margin: 10% 5% 5% 5%;
	}
}

@media only screen and (max-width: 1500px) {
	.container-info {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
	}
	.video-container {
		height: 200%;
	}
	.content-box-info {
		padding: 0;
	}
	.portada-info {
		height: 61.3vh;
		margin: 5%;
	}
}

@media only screen and (max-width: 1150px) {
	.video-container {
		height: 400%;
	}
	.content-box-info .related_films .films {
		flex-direction: column;
		width: 670px;
	}
	.content-box-info .related_films .films .film {
		margin-bottom: 20px;
		margin-right: 0;
		width: auto;
		height: auto;
	}
	.left-info, .right-info {
		display: none;
	}
}

@media only screen and (max-width: 730px) {
	.portada-info {
		height: 30vh;
		width: 28vh;
	}
	.content-box-info {
		width: 80%;
	}
	.content-box-info .title-content {
		font-size: 1.4rem;
	}
	.content-box-info .details {
		width: 25%;
		font-size: 0.7rem; 
		margin-bottom: 25px;
	}
	.content-box-info .tabcontent, .content-box-info .specific-info-box .specific-name, .content-box-info .specific-info-box .specific-title{
		font-size: 0.7rem;
		
	}
	.content-box-info .tablink{
		padding-bottom: 4px;
		font-size: 0.8rem;
		
	}
	.content-box-info .related_films .title {
		font-size: 1rem;
		margin: 15px 0 15px 0;
	}
	.content-box-info .related_films .films {
		width: auto;
		flex-wrap: wrap;
		justify-content: flex-start;
		flex-direction: row;
		height: 544px;
	}
	.content-box-info .related_films .films .film {
		width:150px;
		height:170px;
		margin: 5px;
	}
	.content-box-info .opciones {
		font-size: 3rem;
	}
	.content-box-info .opciones svg {
		border: 2px solid #d0cfcf;
	}
	.exit svg {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 500px) {
	.portada-info {
		height: 23vh;
		width: 21vh;
	}
	.content-box-info .title-content {
		font-size: 1rem;
	}
	.content-box-info .details {
		width: 30%;
		font-size: 0.5rem; 
		margin-bottom: 20px;
	}
	.content-box-info .tabcontent, .content-box-info .specific-info-box .specific-name, .content-box-info .specific-info-box .specific-title{
		font-size: 0.5rem;
		
	}
	.content-box-info .tabs, .content-box-info .tabcontent {
		margin-bottom: 10px;
	}
	.content-box-info .tablink{
		padding-bottom: 2px;
		font-size: 0.6rem;
		
	}
	.content-box-info .related_films .title {
		font-size: 0.7rem;
		margin: 1px 0 5px 0;
	}
	.content-box-info .related_films .films .film {
		width:110px;
		height:130px;
	}
	.content-box-info .opciones {
		font-size: 2.5rem; 
	}
	.content-box-info .opciones svg {
		border: 1px solid #d0cfcf;
	}
}

@media only screen and (max-width: 400px) {
	.portada-info {
		height: 19vh;
		width: 17vh;
	}
	.content-box-info .title-content {
		font-size: 0.9rem;
	}
	.content-box-info .details {
		width: 40%;
		margin-bottom: 15px;
	}
	.content-box-info .related_films .films .film {
		width: 90px;
    	height: 100px;
	}
	.content-box-info {
		width: 85%;
	}
	.exit svg {
		font-size: 1.6rem;
	}
}

/* #####################################################
						END INFO
##################################################### */

/* #####################################################
						WELCOME
##################################################### */

.welcome_container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(/imagenes/Welcome.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	z-index: -1;
}

.welcome_triangulo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 100vh 100vw;
	border-color: transparent rgb(32, 32, 32);
	background-color: rgba(255, 32, 32, 0.7);
	z-index: 1;

}

.welcome_box {
    position: absolute;
    top: 15%;
    left: 0;
    z-index: 1;
    margin: auto;
    text-align: left;
    background-color: transparent;
    width: 100%;
}


.welcome_header{
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
    height: 100%;
	position: relative;
	padding-left: 2%;
	padding-top: 2%;
	top: -150px;
}	

.welcome_header_logo{
	width: 15%;
}

.welcome_contenido {
    padding: 0 0 0 100px;
    text-align: left;
    background-color: transparent;
    width: 100%;
	color: rgb(225, 225, 225);

}

.welcome_contenido h1, .welcome_contenido p{
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.welcome_contenido h1{
	font-size: 550%;
	
}

.welcome_contenido p{
	font-size: 280%;
	margin-top: 20px;
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

.welcome_buttons{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	width: 50%;
	height: 20%;
	margin-top: 30px;
}

.welcome_buttons a{
	text-decoration: none;
	margin-right: 30px;

}

.welcome_buttons button{
	background-color: rgb(184, 13, 13);
    border: none;
	text-decoration: none;
	font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size:  1.7rem;
    font-weight: bold;
    line-height: 1.6rem;
    padding: 1rem 3rem;
    cursor: pointer;
	border-radius: 5px;
	color: rgb(225, 225, 225);
	margin-top: 30px;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.527);

}

.welcome_buttons button:hover {
	background-color: rgb(151, 0, 0);
}

@media only screen and (max-width: 1870px) {
	.welcome_container {
		background-size: 120%;
	}
	.register_box {
		width: 50%;
	}
}

@media only screen and (max-width: 1600px) {
	.welcome_container {
		background-size: 140%;
	}
	.register_box {
		width: 60%;
	}
	.login_box {
		width: 40%;
	}
	.login_degradado {
		height: 307px;
	}
}

@media only screen and (max-width: 1200px) {
	.welcome_container {
		background-size: 220%;
	}
	.register_box {
		width: 70%;
	}
	.login_box {
		width: 60%;
	}
	.login_degradado {
		height: 340px;
		top: 20%;
	}
}

@media only screen and (max-width: 850px) {
	.welcome_container {
		background-size: 300%;
	}
	.register_box {
		width: 80%;
	}
	.login_box {
		width: 70%;
	}
	.login_degradado {
		height: 225px;
	}
}

@media only screen and (max-width: 680px) {
	.welcome_container {
		background-size: 350%;
	}
	.login_box .login_fondo {
		background-size: 200%;
	}
	.login_box {
		width: 80%;
	}
	.login_degradado {
		height: 212px;
		top: 15%;
	}
	.perfilesAdd-perfil-inputs-box > fieldset div:first-of-type {
		flex-direction: column;
	}
	
}

@media only screen and (max-width: 550px) {

	.welcome_container {
		background-size: 400%;
	}

	.login_content h1 {
		font-size: 1.2em;
	}

	.login_content .login-input > input {
		font-size: auto;
		padding: 1px;
	}
	.perfilesAdd-perfil-config-button {
		padding: 0.75rem 1rem;
	}
	.login_degradado {
		height: 333px;
    	top: -20%;
	}
}


@media only screen and (max-width: 480px) {
	
	.welcome_container {
		background-size: 450%;
	}

	.login_content h1 {
		font-size: 1em;
	}

	.login_content .login-input>input {
		font-size: 80%;
		font-weight: 100;
		border: 1px solid #5d5c5c;

	}

	.login_content .login-input .paddingTop20 {
		padding-top: 15px;
	}

	.forget_password{
		font-size: 0.8rem;
	}

	.perfilesAdd-perfil-config-button {
		padding: 0.15rem 0rem;
		font-size: 0.8rem;
	}

	.register_box .register_logo {
		width: 100%;
		height: 62px;
		margin: 10px 0 0 0;
	}

	.perfilesAdd-perfil-inputs-box fieldset {
		font-size: 70%;
		font-weight: 100;
		border: 1px solid #5d5c5c;
	}

	.perfilesAdd-perfil-inputs-box > fieldset div input:checked {
		border: 3px solid rgb(230, 9, 9);
	}

	.perfilesAdd-perfil-inputs-box > fieldset input {
		width: 11px;
		height: 11px;
		border: 2px solid #999;
		left: -45%;
		top: 10px;
	}
	.perfilesAdd-perfil-inputs-box > fieldset label {
		line-height: 10px;
	}
}


/* #####################################################
						END WELCOME
##################################################### */

/* #####################################################
						 BUSCADOR
##################################################### */

.buscador_container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.buscador_header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 20%;
	position: absolute;
	top: 0;
	padding-left: 150px;
	z-index: 1;

}

.buscador_header h1{
	font-size: 3rem;
	margin: 0 0 20px 0;
	color:#ffffff;
}

.buscador_header .buscador_search {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 300px;
	position: relative;
}

.buscador_header .buscador_search .icon {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	z-index: 1;
	color: #4f5b66;
}

.buscador_header .buscador_search input#search {
	width: 100%;
	height: 50px;
	background: #2b303b;
	border: none;
	font-size: 1rem;
	color: #262626;
	padding-left: 45px;
	border-radius: 5px;

	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background 0.55s ease;
}

.buscador_header .buscador_search input#search:hover, .buscador_header .buscador_search input#search:focus, .buscador_header .buscador_search input#search:active{
    outline:none;
    background: #ffffff;
}

.buscador_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 100%;
	height: 80%;
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	padding-left: 150px;
	z-index: 1;
}

.buscador_content .content-card h3 {
	color: #ffff;
}

@media (max-width: 1000px) {
	.buscador_header h1 {
		font-size: 1.5rem;
	}
	.buscador_header .buscador_search input#search {
		width: 100%;
		height: 36px;
	}
	.buscador_header {
		padding-left: 0px;
	}
}

@media (max-width: 850px) {

	.buscador_header .buscador_search{
		width: auto;
	}

	.buscador_header .buscador_search input#search {
		font-size: 0.9rem;
		width: auto;
	}
}

@media (max-width: 600px) {

	.buscador_header {
		padding-left: 50px;
	}
	.buscador_content .content-card {
		width: 115px;
	}
	.buscador_content .content-card img{
		height: 150px;
		width: 115px;
	}
	.buscador_content .content-card h3 {
		font-size: 10px;
	}
}

@media (max-width: 550px) {
	.buscador_content {
		padding-left: 110px;
	}
}

@media (max-width: 500px) {
	.buscador_content {
		padding-left: 110px;
	}
	.buscador_content .content-card {
		width: 100px;
	}
	.buscador_content .content-card img{
		height: 130px;
		width: 100px;
	}
	.buscador_content .content-card h3 {
		font-size: 10px;
	}
}

@media (max-width: 450px) {
	.buscador_header h1 {
		font-size: 1.2rem;
	}
	.buscador_header .buscador_search{
		width: auto;
	}

	.buscador_header .buscador_search input#search {
		font-size: 0.9rem;
		width: 180px;
		height: 35px;
	}
}

@media (max-width: 400px) {
	.buscador_header h1 {
		font-size: 1rem;
	}
	.buscador_header .buscador_search input#search {
		font-size: 0.6rem;
		width: 150px;
		height: 20px;
	}
	.buscador_header .buscador_search .icon {
		font-size: 0.7rem;
	}
	.buscador_header {
		padding-left: 30px;
	}
	.buscador_content .content-card {
		width: 78px;
	}
	.buscador_content .content-card img{
		height: 100px;
		width: 78px;
	}
	.buscador_content {
		padding-left: 65px;
	}
	.buscador_content .content-card h3 {
		font-size: 8px;
	}
}
 

/* #####################################################
						END BUSCADOR
##################################################### */